body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16pt;
    background-color: antiquewhite;
}

nav{
    height: 70px;
    background-color: burlywood;
    vertical-align: top;
    text-align: center;
}

a{
    display: inline-block;
    width: 150px;
    height: 40px;
    margin: 5px;
    padding: 5px;
    background-color: blueviolet;
    color:cornsilk;
}
a:hover{
    background-color: cornsilk;
    color:blueviolet;
}
h1{
    font-size: 34pt;
    color:blanchedalmond;
    padding: 20px;
    margin:3px;
    text-align: center;
    background-color: coral;
}
table, td{
    /*border: 1px solid blue;*/
    /* border-collapse: collapse; */
    /*border-radius: 10px;*/
    border-bottom: 2px solid black;
}
tr:hover{
    background-color: brown;
    color:whitesmoke;
}
/* tr:nth-child(even){
    background-color: lightcoral;
}
tr:nth-child(odd){
    background-color: lightgoldenrodyellow;
} */

.card{
    border: 1px solid black;
    background-color: darkgoldenrod;
    color:beige;
    box-shadow: 5px 5px 5px blue;
    width: 47%;
    height: 350px;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
}
.card-block{
    display: inline-block; 
    width:45%;
    margin:5px;
    padding: 5px;
}
input{
  border: 2px solid blue;
  background-color: yellow;   
}
input:focus{
    background-color: red;
}